*{	
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
	box-sizing: border-box;
}	

html {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: fuente-principal;
    src: url(../../assets/fonts/Akira\ Expanded\ Demo.otf);
}