/* Estas cards se basan en un estilado donde el div contenedor tiene overflow: hidden lo que hace que las imagenes no se ajusten
con el width del contenedor. De esta forma el contenedor queda delgado a la medida buscada y la imagen solo muestra lo que le permite
el div (como una ventana). La transition es necesaria para darle el tiempo y la suavidad al movimiento. El desplazamiento, solo
esta dado por un cambio de width al section div. Al aumentar el width del section__div, el mismo pasa de 4% a 20% que es una medida
armoniosa y la transition lo suaviza solo tanto de ida como de vuelta */



/* RESPONSIVE*/


    .body {
    background-size: cover;
    background-color: #27313a;
    width: 100vw;
    }

   @media (min-width:320px) {

    .article {
     display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 4.5fr 1fr;
    gap: 2%;
    margin-top: 0 auto;
    }

    .section1 {
        margin: 2% auto 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 350px; 
        width: 100vw;
        max-width: 300px;  
    }

    .section1__div {
        margin: 0 1.2%;  
        overflow: hidden;
        border-radius: 5rem;
        display: flex;
        justify-content: center;
        height: 100%;
        width: 7%;
        transition: all 1s ease ;
    } 

    .section1__div:hover {
        width: 100%;     
    } 
    
/* LA TARJETA SE LOGRO CREANDO UN CONTENEDOR PRINCIPAL PARA QUE OCUPE POSICION EN EL GRID Y LUEGO UNA IMAGEN (RELATIVE) y UN DIV (RELATIVE)
PARA LA TARJETA DE ATRAS. SE POSICIONARON LA TARJETA FRONTAL Y TRASERA CON RELATIVE YA QUE CON ABSOLUTE TODAS LAS TARJETAS DEL GRID SE
IBAN A LA MISMA POSICION. CON RELATIVE CADA TARJETA TRASERA TOMO COMO REFERENCIA SU IMAGEN FRONTAL CORRESPONDIENTE */

    .section2 {
        margin: 0 auto;
        padding: 5px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
        justify-items: center;
        justify-content: center;
        width: 290px;
        gap: 2%;

        &__div {
            width: 110px;
            height: 140px;
            background-color: rgba(0, 0, 0, 0);
            border-radius: 1rem;
            opacity: 100%;
            transition: all 0.5s linear;
            box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.575);

            &__frontcard {
                width: 110px;
                height: 140px;
                border-radius: 1rem;
                opacity:    100%;
                z-index: 2;
                position: relative;                
            }

            &__backcard {
                width: 110px;
                height: 140px;
                background-color: rgba(0, 0, 0, 0.575);
                border-radius: 1rem;
                opacity: 100%;
                transition: all 0.5s linear;
                z-index: 3;
                position: relative;
                bottom: 144px;
                transform: scale(0%);
                color: aliceblue;
                pointer-events: none;

                &__h3 {
                    font-size: 30px;
                    padding: 7px;
                   
                    &__p {
                        text-align: center;
                        font-size: 15px;
                        padding: 7px;
                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    }
                }
            }
        }
    }

    .section2__div__frontcard:hover ~ .section2__div__backcard {
        opacity: 100%;
        z-index: 2;
        transform: scale(100%);
        transition: all 0.4s linear;
    }

    .section2__div__frontcard:hover {
        opacity: 30%;
        transition: all 0.4s linear;
        filter: grayscale(30%);
    }

/* SECTION 3 - LEFT CARDS*/

    .section3 {
        margin: 0 auto;
        padding: 5px;
        justify-items: center;
        width: 290px;
        gap: 2%;

        &__div {
            width: 110px;
            height: 140px;
            background-color: rgba(0, 0, 0, 0);
            border-radius: 1rem;
            opacity: 100%;
            transition: all 0.5s linear;
            overflow: hidden;
            box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.575);
         
            &__frontcard {
                width: 110px;
                height: 140px;
                border-radius: 1rem;
                opacity:    100%;
                z-index: 2;
                position: relative;      
            }

            &__backcard {
                width: 110px;
                height: 140px;
                background-color: rgba(0, 0, 0, 0.575);
                border-radius: 1rem;
                opacity: 100%;
                transition: all 0.5s linear;
                z-index: 3;
                position: relative;
                left: 100%;
                bottom: 144px;
                color: aliceblue;
                pointer-events: none;
         
                &__h3 {
                    font-size: 30px;
                    padding: 7px;

                    &__p {
                        text-align: center;
                        font-size: 15px;
                        padding: 7px;
                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    }
                }
            }
        }
    }

    .section3__div__frontcard:hover  ~ .section3__div__backcard {
        left: 0%;
    }
       
       
    /* SECTION 4 - FLIP CARDS */

    .section4 {
        margin: 0 auto;
        padding: 5px;
        justify-items: center;
        width: 290px;
        gap: 2%;


        &__div {
            width: 110px;
            height: 140px;
            background-color: rgba(0, 0, 0, 0);
            border-radius: 1rem;
            opacity: 100%;
            transition: all 0.5s linear;      

            &__frontcard {
                width: 110px;
                height: 140px;
                border-radius: 1rem;
                opacity:    100%;
                z-index: 3;
                position: relative;
                transition: all 0.35s linear;  
            }

            &__backcard {
                width: 110px;
                height: 140px;
                background-color: rgba(0, 0, 0, 0.575);
                border-radius: 1rem;
                opacity: 100%;
                transition: all 0.35s linear;
                z-index: 2;
                position: relative;
                bottom: 144px;
                color: aliceblue;
                display: flex;
                flex-direction: column;
                justify-content: end;
                box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.575);
                pointer-events: none;

                &__h3 {
                    
                    font-size: 25px;
                    padding: 7px;    
                    text-align: center;                  
                }
            }
        }
    }
}

    .section4__div__frontcard:hover  ~ .section4__div__backcard {
        bottom: 125px;
    }

    .section4__div__frontcard:hover  {
       transform: translateY(-19px);      
    }

/* SECTION 5 - FLIP CARDS */

.section5 {
    margin: 0 auto;
    padding: 5px;
    justify-items: center;
    width: 290px;
    gap: 2%;

    &__div {
        width: 110px;
        height: 140px;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 1rem;
        opacity: 100%;
        transition: all 0.5s linear;
 
        &__frontcard {
            width: 110px;
            height: 140px;
            border-radius: 1rem;
            opacity:    100%;
            z-index: 3;
            position: relative;
            transition: all 0.5s linear;
            transform: rotateY(0deg);
            backface-visibility: hidden;  
        }

        &__backcard {
            width: 110px;
            height: 140px;
            background-color: rgba(0, 0, 0, 0.575);
            border-radius: 1rem;
            opacity: 100%;
            transition: all 0.5s linear;
            z-index: 2;
            position: relative;
            bottom: 144px;
            color: aliceblue;
            box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.575);
            transform: rotateY(180deg);
            pointer-events: none;
        

            &__h3 {
                font-size: 25px;
                padding: 7px; 
                text-align: center;   

                &__p {
                    text-align: center;
                    font-size: 15px;
                    padding: 7px;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                }
                                
            }
        }
    }
}

.section5__div__frontcard:hover  ~ .section5__div__backcard {
    transform: rotateY(360deg);
    }

.section5__div__frontcard:hover {
    transform: rotateY(180deg); 
    }   

.section6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    margin: 0 auto;
    width: 290px;
    gap: 2%;
    height: 300px;

    &__div {
        width: 110px;
        height: 140px;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 1rem;
        opacity: 100%;
        transition: all 0.5s linear;
        perspective: 260px;
        display: flex;
        justify-content: center;
      
        &__frontcard {
            width: 110px;
            height: 140px;
            border-radius: 1rem;
            opacity:    100%;
            z-index: 1;
            transition: all 0.5s linear;
            position: relative;
            box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.575);
        }

        &__backcard {
            width: 110px;
            height: 140px;
            border-radius: 1rem;
            opacity: 0%;
            transition: all 0.5s linear;
            z-index: 2;
            position: absolute;
            color: aliceblue;
            transition: all 0.5s linear;
            bottom: 40px;
            pointer-events: none;
        }
    }
}
        
        
.section6__div__frontcard:hover ~ .section6__div__backcard   {
    transform: translatey(-20px);
    opacity: 100%;
    z-index: 3;
   }

.section6__div__frontcard:hover {
   
    transform: rotate3d(1, 0, 0, 40deg) rotate3d(0, 1, 0, -30deg) rotate3d(0, 0, 1, 30deg);
    filter: blur(2px);   
    }   


@media (min-width:600px) {

    .article {

        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 2fr 1fr;
        }

    .section2 {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 0.1fr);
        justify-items: center;
        gap: 4% 9%;
        max-width: 600px;   
    }
}


@media (min-width:1100px) {
    .article {

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .section2 {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(2, 0.1fr);
        justify-items: center;
        gap: 8% 9%;
        max-width: 600px;   
    }
}




  


               

 

